@import "variables";

.productos {
    width: 100%;
    h2 {
        padding: 100px 0;
    }
    .leyenda {
        background-color: $color_oscuro;
        color: white;
    }

    .leyenda p {
        padding-top: 10px;
        font-size: 1rem;
    }
}

.aire {
    width: 100%;
    height: 300px;
}
